<!DOCTYPE HTML>
<html>
<head>
<title>About Us</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
#nav {
    display: block inline;
    background-color: #ccc;
    padding:1px;
    font-size:25px;
}
ul{
    list-style-type:none;
}
a{
     text-decoration:none;
}
</style>
</head>
<body>
<div id="nav" class="container text-center">
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
</ul>


<h1>WELCOME TO PASSWORD GENERATOR WEBSITE!!</h1>
</div>
</body>
</html>